@model IEnumerable<ProductCategory>
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center m-3">Product categories</h1>

<p class="text-center">
    <a asp-action="Create" asp-route-productId="@ViewBag.ProductId" class="btn btn-success">Create new category for product</a>
</p>

<div class="row justify-content-center">
    <div class="col-sm-8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Product title</th>
                    <th>Category title</th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.ProductTitle</td>
                        <td>@item.CategoryTitle</td>
                        <td class="text-right">
                            <a asp-action="Edit" asp-route-id="@item.Id" asp-route-productId="@ViewBag.ProductId" class="btn btn-warning">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" asp-route-productId="@ViewBag.ProductId" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-action="Index" asp-controller="Product" class="btn btn-primary">Back to products</a>
    </div>
</div>

<p>

</p>

