@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center m-3">Products</h1>

<p class="text-center">
    <a asp-action="Create" class="btn btn-success">Create new product</a>
</p>

<div class="row justify-content-center">
    <div class="col-sm-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Title)</td>

                        <td>@Html.DisplayFor(modelItem => item.Description)</td>

                        <td>@Html.DisplayFor(modelItem => item.Quantity)</td>

                        <td>@Html.DisplayFor(modelItem => item.Price)</td>
                        <td class="text-right">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                            <a asp-action="Index" asp-controller="ProductCategory" asp-route-productId="@item.Id" class="btn btn-success">Add new Category</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

