@model List<Product>
@{
    ViewData["Title"] = "Product";
}

<h3>Product list</h3>

<div class="row mb-2">
    <div class="col-md-2">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter by category
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                @foreach (var item in ViewBag.Categories)
                {
                    <a class="dropdown-item" asp-action="Product" asp-route-categoryId="@item.Value">@item.Text</a>
                }
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <a asp-action="Product" class="btn btn-warning">Reset filters</a>
    </div>
</div>

<div class="row mt-3 justify-content-between">
    @foreach (var item in Model)
    {
        <form method="post" asp-controller="Cart" asp-action="AddToCart">
            <input type="hidden" name="productId" value="@item.Id" />
            <input type="hidden" name="quantity" value="1" />
            <div class="col-sm-4 mt-5">
                <div class="card" style="width: 18rem;">
                    <img src="@item.ProductImagePath" class="card-img-top" alt="product image" style="width:auto; height: 272px">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text" style="height: 50px">@item.Description</p>
                        <p class="card-text"><strong>Price: </strong> @item.Price kn</p>
                        <a asp-route-id="@item.Id" asp-controller="Home" asp-action="ProductDetail" class="btn btn-primary btn-sm btn-block">Details</a>
                        <button type="submit" class="btn btn-success btn-sm btn-block">Add to cart</button>
                    </div>
                </div>
            </div>
        </form>
    }
</div>