@model List<Product>
@{
    ViewData["Title"] = "Product";
}

<h3>Product list</h3>

<div class="row mb-5">
    <div class="col-md-2">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter by category
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                @foreach (var item in ViewBag.Categories)
                {
                    <a class="dropdown-item" asp-action="Product" asp-route-categoryId="@item.Value">@item.Text</a>
                }
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <a asp-action="Product" class="btn btn-warning">Reset filters</a>
    </div>
</div>

<div class="row mt-3">
    @foreach (var item in Model)
    {
        <div class="col-sm-4 mt-5">
            <div class="card">
                <div class="card-body">
                    <img src="@item.ProductImagePath" class="img-thumbnail" />
                    <h5 class="card-title mt-3">@item.Title</h5>
                    <p class="card-text">@item.Description</p>

                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>Price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@item.Price Kn</td>
                                <td>
                                    <form method="post" asp-controller="Cart" asp-action="AddToCart">
                                        <input type="hidden" name="productId" value="@item.Id" />
                                        <input type="hidden" name="quantity" value="1" />
                                        <input type="submit" class="btn btn-success btn-sm" value="Add to cart" />
                                    </form>

                                </td>
                                <td>
                                    <a asp-route-id="@item.Id" asp-controller="Home" asp-action="ProductDetail" class="btn btn-primary btn-sm">Details</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>