@model Order
@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center m-3">Delete order</h1>

<hr />

<h4>Are you sure you want to delete order @Model.Id ?</h4>

<div class="row mt-3">
    <div class="col-sm-2 font-weight-bold">
        @Html.DisplayNameFor(model => model.BillingFirstName)
    </div>
    <div class="col-sm-2">
        @Html.DisplayFor(model => model.BillingFirstName)
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-2 font-weight-bold">
        @Html.DisplayNameFor(model => model.BillingLastName)
    </div>
    <div class="col-sm-2">
        @Html.DisplayFor(model => model.BillingLastName)
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-2 font-weight-bold">
        @Html.DisplayNameFor(model => model.BillingEmail)
    </div>
    <div class="col-sm-2">
        @Html.DisplayFor(model => model.BillingEmail)
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-2 font-weight-bold">
        @Html.DisplayNameFor(model => model.BillingPhone)
    </div>
    <div class="col-sm-2">
        @Html.DisplayFor(model => model.BillingPhone)
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-2 font-weight-bold">
        @Html.DisplayNameFor(model => model.BillingAddress)
    </div>
    <div class="col-sm-2">
        @Html.DisplayFor(model => model.BillingAddress)
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-2 font-weight-bold">
        @Html.DisplayNameFor(model => model.BillingCity)
    </div>
    <div class="col-sm-2">
        @Html.DisplayFor(model => model.BillingCity)
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-2 font-weight-bold">
        @Html.DisplayNameFor(model => model.BillingZip)
    </div>
    <div class="col-sm-2">
        @Html.DisplayFor(model => model.BillingZip)
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-2 font-weight-bold">
        @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="col-sm-2">
        @Html.DisplayFor(model => model.DateCreated)
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-2 font-weight-bold">
        @Html.DisplayNameFor(model => model.Total)
    </div>
    <div class="col-sm-2">
        @Html.DisplayFor(model => model.Total)
    </div>
</div>

<form asp-action="DeleteOrder" class="mt-3">
    <input asp-for="Id" type="hidden" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-primary">Back</a>
</form>

