@model Order
@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Order details</h1>
<hr />

<div class="row mt-3">
    <div class="col-sm-2 font-weight-bold">
        @Html.DisplayNameFor(model => model.BillingFirstName)
    </div>
    <div class="col-sm-2">
        @Html.DisplayFor(model => model.BillingFirstName)
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-2 font-weight-bold">
        @Html.DisplayNameFor(model => model.BillingLastName)
    </div>
    <div class="col-sm-2">
        @Html.DisplayFor(model => model.BillingLastName)
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-2 font-weight-bold">
        @Html.DisplayNameFor(model => model.BillingEmail)
    </div>
    <div class="col-sm-2">
        @Html.DisplayFor(model => model.BillingEmail)
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-2 font-weight-bold">
        @Html.DisplayNameFor(model => model.BillingPhone)
    </div>
    <div class="col-sm-2">
        @Html.DisplayFor(model => model.BillingPhone)
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-2 font-weight-bold">
        @Html.DisplayNameFor(model => model.BillingAddress)
    </div>
    <div class="col-sm-2">
        @Html.DisplayFor(model => model.BillingAddress)
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-2 font-weight-bold">
        @Html.DisplayNameFor(model => model.BillingCity)
    </div>
    <div class="col-sm-2">
        @Html.DisplayFor(model => model.BillingCity)
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-2 font-weight-bold">
        @Html.DisplayNameFor(model => model.BillingZip)
    </div>
    <div class="col-sm-2">
        @Html.DisplayFor(model => model.BillingZip)
    </div>
</div>

<hr />

<partial name="_OrderItemsPartial" for="@Model.OrderItems" />

<hr />
<div class="row mb-3">
    <div class="col-sm-2">
        <b>
            @Html.DisplayNameFor(model => model.DateCreated)
        </b>
    </div>
    <div class="col-sm-2">
        @Html.DisplayFor(model => model.DateCreated)
    </div>
</div>
<div class="row mb-3">
    <div class="col-sm-2">
        <b>
            @Html.DisplayNameFor(model => model.Total)
        </b>
    </div>
    <div class="col-sm-2">
        @Html.DisplayFor(model => model.Total)
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-primary">Back</a>
</div>

