@model Order
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.BillingFirstName)</th>
            <th>@Html.DisplayNameFor(model => model.BillingLastName)</th>
            <th>@Html.DisplayNameFor(model => model.BillingEmail)</th>
            <th>@Html.DisplayNameFor(model => model.BillingPhone)</th>
            <th>@Html.DisplayNameFor(model => model.BillingAddress)</th>
            <th>@Html.DisplayNameFor(model => model.BillingCity)</th>
            <th>@Html.DisplayNameFor(model => model.BillingZip)</th>
            <th>@Html.DisplayNameFor(model => model.BillingCountry)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.BillingFirstName)</td>
            <td>@Html.DisplayFor(model => model.BillingLastName)</td>
            <td>@Html.DisplayFor(model => model.BillingEmail)</td>
            <td>@Html.DisplayFor(model => model.BillingPhone)</td>
            <td>@Html.DisplayFor(model => model.BillingAddress)</td>
            <td>@Html.DisplayFor(model => model.BillingCity)</td>
            <td>@Html.DisplayFor(model => model.BillingZip)</td>
            <td>@Html.DisplayFor(model => model.BillingCountry)</td>
        </tr>
    </tbody>
</table>

<partial name="_OrderItemsPartial" for="@Model.OrderItems" />

<hr />
<div class="row">
    <div class="col-sm-2">
        <b>
            @Html.DisplayNameFor(model => model.DateCreated)
        </b>
    </div>
    <div class="col-sm-2">
        @Html.DisplayFor(model => model.DateCreated)
    </div>
    <div class="col-sm-2">
        <b>
            @Html.DisplayNameFor(model => model.Total)
        </b>
    </div>
    <div class="col-sm-2">
        @Html.DisplayFor(model => model.Total)
    </div>
</div>

<div>
    <a asp-action="Index">Back to Index</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="AddOrderItem" asp-route-id="@Model.Id">Add order item</a>
</div>

