@model IEnumerable<Order>
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center m-3">Orders</h1>

<p class="text-center">
    <a asp-action="Create" class="btn btn-success">Create new order</a>
</p>

<div class="row justify-content-center">
    <div class="col-sm-10">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.DateCreated)</th>
                    <th>@Html.DisplayNameFor(model => model.Total)</th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.DateCreated)</td>
                        <td>@Html.DisplayFor(modelItem => item.Total)</td>
                        <td class="text-right">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>


